:root {
    font-size: 125%;
    --masthead-offset: 17.6%;
}

/* START OF HEADING TIMELINE FONTS */

    .caslon {
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .baskerville {
    font-family: berthold-baskerville-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .bodoni {
    font-family: bodoni-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .egyptian {
    font-family: "bodoni-egyptian-pro", serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .slab {
    font-family: "hwt-slab-antique", serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .clarendon {
    font-family: "clarendon-text-pro", serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .vanlanen {
    font-family: "hwt-van-lanen", sans-serif;
    font-weight: 500;
    font-style: normal;
    }
    
    .american {
    font-family: "hwt-american-solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .tripoli {
    font-family: "am-tripoli", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .akzidenz {
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .futura {
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .helvetica {
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .lores21 {
    font-family: "lores-21-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .lores9 {
    font-family: "lores-9-plus-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

    .lores12 {
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .lores9 {
    font-family: "lores-9-minus-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

    .didot {
    font-family: "aw-conqueror-didot", serif;
    font-weight: 400;
    font-style: normal;
    }

    /* END OF HEADING TIMELINE FONTS */

h2 {
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin-block-start: 2.5em;
    margin-block-end: 0.5em;
    padding-block-start: 0.5rem;
    color: #141414;
    border-block-start: solid rgb(17, 25, 138) 0.25rem;
    line-height: 1.85ex;
}


header p {
    text-align: end;
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-block-start: -0.6em;
    margin-block-end: 5em;
    color: #141414;
    padding-block-end: 0.5rem; 
    line-height: 2ex;
}

.main {
    background-color: #F5F5F0;
    font-size: 6.5vw;
    transition: ease-in-out 300ms;
    color: #F5F5F0;
    inset-block-start: 0;
    padding: 2rem;
    padding-block-end: 1rem;
    padding-inline-start: 1.5rem;
    position: fixed;
    width: 100%;
    height: 8rem;
    line-height: 1.3ex;
    z-index: 10;
}

.main h1 {
    position: absolute;
    inset-block-start: 28%;
}

time {
    color: rgb(97, 189, 255);
    font-style: normal;
}

em {
    color: rgb(17, 25, 138);
    text-shadow: 0.06rem 0.06rem 0.1rem rgb(97, 189, 255);
    }

h1 em {
    color: #141414;
}

p {
      line-height: 2.5ex;
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      color: #141414;
      font-family: "akzidenz-grotesk-next-pro", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

body {
      background-color: rgb(217, 239, 255);
    } 

.lupton {
    padding-inline-end: 32em;
    padding-inline-start: 7em;
    margin-block-start: 15.5rem;
}

footer {
   padding-block: 1em;
   padding-inline-start: 7em;
}

footer p {
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(17, 25, 138);
    line-height: 1.85ex;
    margin-block: 0.3rem;
}

blockquote {
        font-size: 1.5rem;
        font-style: italic;
        padding: 2.25rem;
        padding-inline-start: 3em;
        padding-inline-end:0em;
        padding-block-end: 3.8rem;
        text-align: end;
    }

blockquote p {
    line-height: 2.75ex;
    font-style: italic;
    color: #5b5b5b;
}

h4 {
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(17, 25, 138);
    line-height: 1.75ex;
}

.french em {
    color: #F5F5F0;
    text-shadow: none;
    font-style: italic;
}

.french {
    text-shadow: none;
    font-style: italic;
    background-color: rgb(17, 25, 138);
    padding-inline-end: 7em;
    padding-inline-start: 32em;
    padding-block-start: 3rem;
    padding-block-end: 2.5em;
}

.french p {
   color: #F5F5F0;
}

.french h2 {
   color: #F5F5F0;
   border-block-start: solid rgb(97, 189, 255) 0.25rem;
}

.designer {
    font-weight: 700;
    color: #141414;
    font-style: normal;
    transition: ease-in-out 300ms;
}

a {
    text-decoration: underline;
    transition: ease-in-out 300ms;
    color: #141414;
}

a:visited {
    color: rgb(17, 25, 138);
    transition: ease-in-out 300ms;
}

a:hover {
    color: rgb(97, 189, 255);
    transition: ease-in-out 300ms;
}



blockquote time {
    font-weight: 400;
} 


.cursor {
  animation: blink 1s step-start infinite;
  color: rgb(17, 25, 138);
  font-family: "lores-22-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.secondary {
    position: sticky;
    background-color: rgb(217, 239, 255);
    z-index: 5;
    margin-inline: -2rem;
    padding-inline: 2rem;
    inset-block-start: var(--masthead-offset);
}


.french .secondary {
    background-color: rgb(17, 25, 138);
}





@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1200px) {
    :root {
    font-size: 85%;
    --masthead-offset: 12%;
    transition: ease-in-out 300ms;
}
}


@media (max-width: 800px) {

.french, .lupton {
    padding-inline: 7em;

}

}

@media (max-width: 500px) {
:root {
    font-size: 80%;
    --masthead-offset: 11.25%;
    transition: ease-in-out 300ms;
}
.french, .lupton, footer {
    padding-inline: 2em;
}

.secondary {
    position: static;
}

.main {
    height: 5rem;
}

}

