:root {
    font-size: 125%;
}

/* START OF HEADING TIMELINE FONTS */

h1 {
      font-size: 5rem;
      transition: ease-in-out 300ms;
      line-height: 3.5rem;
      color: #141414;
    }

    .caslon {
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .baskerville {
    font-family: berthold-baskerville-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .bodoni {
    font-family: bodoni-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .egyptian {
    font-family: "bodoni-egyptian-pro", serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .slab {
    font-family: "hwt-slab-antique", serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .clarendon {
    font-family: "clarendon-text-pro", serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .vanlanen {
    font-family: "hwt-van-lanen", sans-serif;
    font-weight: 500;
    font-style: normal;
    }
    
    .american {
    font-family: "hwt-american-solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .tripoli {
    font-family: "am-tripoli", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .akzidenz {
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .futura {
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .helvetica {
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .lores21 {
    font-family: "lores-21-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .lores9 {
    font-family: "lores-9-plus-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

    .lores21ot {
    font-family: "lores-21-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .lores9 {
    font-family: "lores-9-minus-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

    .didot {
    font-family: "aw-conqueror-didot", serif;
    font-weight: 400;
    font-style: normal;
    }

    /* END OF HEADING TIMELINE FONT */

h2 {
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    color: #141414;
}

header p {
    text-align: end;
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #141414;
}

header time {
    color: rgb(97, 189, 255);
}

em {
    color: rgb(17, 25, 138);
    text-shadow: 0.06rem 0.06rem 0.1rem rgba(97, 189, 255, 0.699);
    }

h1 em {
    color: #141414;;
}

p {
      line-height: 1.3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #141414;
    }

body {
      padding: 3rem;
      background-color: #F5F5F0;
      padding-right: 10em;
      padding-left: 10em;
    } 


blockquote {
        font-size: 1.5rem;
        font-style: italic;
        padding: 2rem;
    }

.monster {
    font-family: "bodoni-egyptian-pro", serif;
    font-weight: 400;
    font-style: normal;
}

.monster h4 {
    font-family: "bodoni-egyptian-pro", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

.cursor {
  animation: blink 1s step-start infinite;
  color: rgb(17, 25, 138);
  font-family: "lores-22-narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}









@keyframes blink {
  50% {
    opacity: 0;
  }
}

